*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header{
  display: flex;
  align-items: center;
  background-color: rgb(132, 4, 132);
  font-size: 30px;
  height:100px;
}
.header-image{
  width:80px;
  height: 80px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.meme{
   text-align: center;
   width: 1000px;
}
.meme-top-text{
   font-size: 20px;
}
.meme-bottom-text{
   font-size:20px;
}
.meme-image{
  width:auto;
  height:600px;
  margin-left: 120px;
  margin-top: 20px;
}
.form-input{
  margin: 20px;
  width: 1060px;
  height: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:80px;
  padding: 10px;
}
.submit{
  width:1050px;
  background-color: rgb(132, 4, 132);
  height: 40px;
  font-size: 25px;
  border-radius: 5px;
  border:none;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
